.git
.github
.turbo
.next
**/.next
**/node_modules
node_modules
**/dist
**/coverage
**/.DS_Store
**/*.md
!apps/web/README.md
.env
.env.*
!**/.env.example
apps/web/.env*
packages/db/.env*
apps/.env*
**/.vercel
**/*.pem
**/vitest.config.*
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
.cursor
.claude
.agents
.windsurf
